@charset "utf-8";

/* Body / Background */
body {
  background-color: #333440;
  background-image: url(/images/bg_overlay.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #FFF;
  font-family: Arial, Helvetica, 'Helvetica Neue', Verdana, sans-serif;
  padding: 0px;
  margin: 0px;
}

/* Font */
h1, h2, h3, h4{
  font-family: 'Droid Sans', arial, serif;
  -webkit-transform: rotate(-0.0000000001deg); /* A little antialias hack for chrome */
}

/* Primary COLOR */
.newsbox .feedList h4 a,
#sitedescription h1,
a
{
  color: #ec008c;
}
/* Primary BACKGROUND */
.primary-bgcolor,
a.ui-btn-big,
.newsbox .feedList h4 a:hover,
#slider #imageSliderNav a.activeSlide
{
  background-color: #ec008c;
  color: #FFF;
}



/* Secondary COLOR */
/* Secondary BACKGROUND */
#header #mainmenu ul,
#header #mainmenu ul li
{
  background-color: #22212C;
}





a.ui-btn-big {
  background-image: url(/images/ui-btn-big-arrow.png);
  background-position: right center;
  background-repeat: no-repeat;
  border-radius: 5px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.496094);
  color: white !important;
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 14px;
  padding: 12px 50px 12px 19px;
  text-decoration: none;
}


a {
  outline: none;
}

#page {
  width:950px;
  margin:0px auto;
  text-align:left;
  padding:15px;
  padding-bottom: 0px;
  background: #FFF;
}

/* Header */

#header {
  margin-bottom: 20px;

}
  #header a,#header a img{
    border: none;
  }
  #header #sitedescription{
    float: right;
    text-align: right;
    margin: 7px;
  }
    #header #sitedescription h1 {
      font-weight: normal;
      position: relative;
      font-size: 16px;
      line-height: 0.5em;
    }
  #header #mainmenu{
    margin: 0px;
    padding: 0px;
  }
    #header .mainmenucorner{
      margin: 0px;
      padding: 0px;
      background: url(/images/mainmenu_corner.gif) top left no-repeat;
      height: 20px;
      clear: both;
      position: relative;
      top: -15px;
      left: -25px;
      width: 20px;
      margin-bottom: -40px;
    }


    #header #mainmenu ul{
      width: 975px;
      float: left;
      margin-bottom: 15px;
      margin-top: 20px;
      padding: 0px;
      margin-left: -25px;
    }
      #header #mainmenu ul li{
        list-style: none;
        background-image: url(/images/icons/mainmenu_itembg.png);
        background-position: right bottom;
        background-repeat: no-repeat;
        float: left;
        font-size: 14px;
      }
        #header #mainmenu ul li a{
          padding: 15px 20px;
          display: block;
          color: #fff;
          text-decoration: none;
          background: url(/images/mainmenu_item_bottomshadow.jpg) bottom left no-repeat;
          margin-bottom: -13px;
          padding-bottom: 28px;
        }

           #header #mainmenu ul li.current{
               background-color: #a9a4a3;
          }

          #header #mainmenu ul li.home a{

            background-image: url(/images/icons/home_dark.png);
            background-position: 16px 16px;
            background-repeat: no-repeat;
            padding-left: 35px;
          }



        #header #mainmenu ul li:hover{
          color: #FFF;
          text-decoration: none;
          background-color: #a9a4a3;
        }



#slider {
  overflow: auto;
  width: 100%;
  clear: both;
}
  #slider #imageSlider{
    padding: 0px;
    width: 100%;
  }
    #slider .imageSlide{
      padding: 0px;
      width: 100%;
    }
      #slider .imageSliderInfo{
        color: #444;
        float: right;
        width: 370px;
        margin-right: 9px;
      }
        #slider .imageSliderInfo h2{
          color: #666;
          font-size: 26px;
        }
        #slider .imageSliderInfo p{
          color: #666;
          font-size: 20px;
        }
      #slider .imageSliderImage{
        float: left;
        padding: 17px;
        padding-bottom: 27px;
        background: url(/images/imageSliderImageBg.png) top center no-repeat;
      }
        #slider .imageSliderImage img{
          border: 3px #FFF solid;
        }
    #slider #imageSliderNav{
      float: left;
      overflow: auto;
      text-align: center;
      width: 540px;
    }
      #slider #imageSliderNav a{
        background-image: url(/images/imageSliderNav.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-color: #dee4e4;
        text-indent: -9000px;
        display: inline-block;
        height: 20px;
        width: 20px;
      }
        #slider #imageSliderNav a.activeSlide{
        }

#content {
  padding: 0px;
  color: #666;
  -background: url(/images/divider_left_top.png) top left no-repeat;
  margin-top: 15px;
  min-height: 200px;
}
  #leftcontent {
    float: left;
    width: 550px;
    padding: 20px;
    background: url(/images/divider_left_top.jpg) top left no-repeat;
    margin-bottom: 20px;
  }
    #leftcontent h1{
      margin: 0px;
      font-size: 32px;
      font-weight: normal;
    }
    #leftcontent h2{
      font-weight: normal;
      font-size: 28px;
    }
    #leftcontent h3{
      font-weight: normal;
      font-size: 22px;
    }
    #leftcontent h4{
      font-weight: normal;
      font-size: 16px;
    }




/* Special left column content */

  #leftcontent .feedList {
    margin: 0px;
    padding: 0px;
  }
    #leftcontent .feedList LI{
      margin: 0px;
      padding: 0px;
      list-style: none;
    }

    #leftcontent .feedList h4{
      margin: 0px;
      padding: 0px;
      font-weight: normal;
    }
      #leftcontent .feedList h4 a{
        text-decoration: none;
      }
      #leftcontent .feedList h4 a:hover{
        text-decoration: underline;
      }
    #leftcontent .feedList p{
      font-size: 14px;
      display: inline;
      margin: 0px;
      padding: 0px;
    }
    #leftcontent .feedList small{
      display: block;
      font-size: 11px;
      margin: 0px;
      padding: 0px;
      margin-bottom: 20px;
      color: #999;
    }
  #rightcontent {
    float: right;
    width: 345px;
    min-height: 200px;
  }
    #rightcontent .hotspot {
      margin-bottom: 20px;
      padding: 20px;
      overflow: auto;
      background: url(/images/divider_right_top.jpg) top left no-repeat;
      font-size: 12px;
    }
      #rightcontent .hotspot a {
        float: right;
      }

    #rightcontent h4 {
      margin-top: 0px;
      font-size: 20px;
      font-weight: normal;
      margin-bottom: 10px;
    }
    #rightcontent img {
      float: left;
      margin-right: 15px;
      margin-bottom: 0px;
      margin-top: 8px;
    }


#footer {
  clear: both;

  font-size: 12px;
  color: #3a3c40;
  background-color: #050a0f;
  padding: 20px;
  overflow: auto;
}
  #footer a{
    font-size: 12px;
    color: #555;
    text-decoration: none;
  }
    #footer a:hover{
      color: #FFF;
    }
    #footer h4{
      font-size: 16px;
      color: #494e53;
      margin-top: 0px;
    }
  #footer #footermenu{
    width: 160px;
    float: left;
    margin-bottom: 15px;
    margin-right: 15px;
    height: 150px;
  }
    #footer #footermenu h4{
      font-size: 16px;
      color: #494e53;
      margin-top: 0px;
    }
    #footer #footermenu ul{
      list-style: none;
      padding: 0px;
      margin: 0px;
    }
      #footer #footermenu ul li{
        list-style: none;
        padding: 0px;
        margin-bottom: 3px;
      }
  #footer #footershare{
    width: 160px;
    float: left;
    margin-bottom: 15px;
    margin-right: 15px;
    height: 150px;
  }
    #footer #footershare ul{
      list-style: none;
      padding: 0px;
      margin: 0px;
    }
      #footer #footershare ul li{
        list-style: none;
        padding: 0px;
        margin-bottom: 3px;
      }
    #footer #footershare a{

    }
      #footer #footershare a img{
        vertical-align: middle;
        filter:alpha(opacity=25);
        -moz-opacity:0.25;
        -khtml-opacity: 0.25;
        opacity: 0.25;
        margin-right: 10px;
        border: none;
      }
        #footer #footershare a:hover img{
          vertical-align: middle;
          filter:alpha(opacity=100);
          -moz-opacity:1;
          -khtml-opacity: 1;
          opacity: 1;
        }
  #footer #footercontact{
    width: 235px;
    float: left;
    margin-bottom: 15px;
    margin-right: 15px;
    height: 150px;
  }
  #footer #footerabout{
    width: 265px;
    float: left;
    margin-bottom: 15px;
    margin-right: 15px;
    height: 150px;
  }
  #footer #footer-end{
    width: 100%;
    clear: both;
    border-top: 1px #0d1115 solid;
    padding-top: 15px;
  }







/*  COLOR!  */



.whitebox {
  background-color: #dee4e4;
  height: 150px;
}













/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
