﻿@inherits umbraco.MacroEngines.DynamicNodeContext

@*
This snippet makes a breadcrumb of parents using an unordred html list.

How it works:
- It uses the Ancestors() method to get all parents and then generates links so the visitor get go back
- Finally it outputs the name of the current page (without a link)
*@


@if (Model.Ancestors().Any())
	{
		<nav class="breadcrumbs right">
 

    
        @* For each page in the ancestors collection which have been ordered by Level (so we start with the highest top node first) *@
        @foreach (var page in Model.Ancestors().OrderBy("Level"))
        {
            <a href="@page.Url">@page.Name</a>
	}

        @* Display the current page as the last item in the list *@
         <a class="current" href="#">@Model.Name</a>
</nav>
}