﻿@inherits umbraco.MacroEngines.DynamicNodeContext
@{ 

    /* This is your basic query to select the nodes you want */

   	var nodes = @Model.AncestorOrSelf().Descendants("Reference").Where("reftyper.Contains(\"Aktuel\")").OrderBy("CreateDate desc").Take(5);
    
	<ul>
		@foreach (var node in nodes)
    { 
			<li>
				<a href="@node.Url">> @node.Name
						
					</a>
			</li>
			
			
						}				
						
</ul>
}