﻿@inherits umbraco.MacroEngines.DynamicNodeContext

@*
	Macro to display child pages below the root page of a standard website.
	Also highlights the current active page/section in the navigation with
	the css class "current". 
*@


@{ 
	@*Get the root of the website *@
    var root = Model.AncestorOrSelf(1);
}

@*Render the sitemap by passing the root node to the traverse helper*@
<ul>
	<li class="@Model.IsEqual(Model.NodeById(1073), "active", "")"><a href="/">Forside</a></li>
	@traverse(@Model.AncestorOrSelf(1))
</ul>


@*Helper method to travers through all descendants*@
@helper traverse(dynamic node){
	
 var items = node.Children.Where("NodeTypeAlias!=\"Reference\"").Where("Visible");


@*If any items are returned, render a list *@
if (items.Any()) { 
            foreach (var item in items) {
				<li class="@item.IsAncestorOrSelf(Model, "active", "")">
            <a href="@item.Url">@item.Name</a>
        </li>
				
				if(item.Children.Where("umbracoNaviHide!=true").Where("NodeTypeAlias!=\"Reference\"").Count() > 0){
          			
								@traverse(item)
					
			  }
					
			}
   
    }


}

