﻿@inherits umbraco.MacroEngines.DynamicNodeContext

<div class="row ref">
  <div class="large-12 columns">
    <div class="row">

@* Ensure that the Current Page has children, where the property umbracoNaviHide is not True *@
@if (Model.Children.Where("Visible").Any())
{
    @* Get the first page in the children, where the property umbracoNaviHide is not True *@
    var naviLevel = Model.Children.Where("Visible").First().Level;

    @* Add in level for a CSS hook *@

        @* For each child page under the root node, where the property umbracoNaviHide is not True *@
        foreach (var childPage in Model.Children.Where("Visible"))
        {

                @* if the current page has any children, where the property umbracoNaviHide is not True *@
                if (childPage.Children.Where("Visible").Any())
                {
                    @* Call our helper to display the children *@

                    @childPages(childPage.Children)
                }

        }

}


@helper childPages(dynamic items)
    {
    @* Ensure that we have a collection of pages *@
    if (items.Any())
    {


        @* Add in level for a CSS hook *@

            foreach (var item in items.Where("Visible"))
            {



                    @* if the current page has any children, where the property umbracoNaviHide is not True *@
                    if (item.Children.Where("Visible").Where("NodeTypeAlias==\"Referencelist\"").Any())
                    {
                        @* Call our helper to display the children *@
                        childPages(item.Children);
                    }
				<div class="large-4 small-6 columns">
			 <a href="@item.Url">
					@if(item.images.Count() > 0){
					<img src="/ImageGen.ashx?image=@item.images.First().umbracoFile&width=312&height=250" alt="">
					}
					else{
					<img src="/ImageGen.ashx?image=/images/noimg.png&width=312&height=250"/>
				}

	     <h6 class="panel">@item.Name</h6>
			  </a>
        </div>



            }

    }
}





</div>
	</div>
	</div>









