﻿@inherits umbraco.MacroEngines.DynamicNodeContext

@*
Macro to display a gallery from a media folder. Add the below parameter to the macro
and use it to point the macro at a specific media folder to display it's content as
a simple list.

Macro Parameters To Create, for this macro to work:
Show:True   Alias:mediaId     Name:Media Folder ID    Type:MediaCurrent
*@

	@if (Model.images.Any()) { 	
var thisclass = "";

		<div class="grid-block-1 big-img">
		

		<section class="slider th radius" style="height:392px">
  <div class="slide slideshow-wrapper">
  <div class="preloader"></div>
    <ul data-orbit data-options="slide_number:false;timer:false" >
								
								@foreach (var image in Model.images)
            			{
							<li data-orbit-slide="@image.Name">
								<img src="/ImageGen.ashx?image=@image.umbracoFile&width=700&pad=true&bgcolor=151412" alt="@image.Name" class="radius"/>
							</li>
                
                   
                 
                
			            }
								
								
							 </ul>
  </div>
</section>
	
			
</div>	

 <div class="">
	 	
           <ul class="clearing-thumbs large-block-grid-4" data-clearing>
							@foreach (var mediaItem in @Model.images)
            {
                
           <li >
			<a href="@mediaItem.umbracoFile" alt="" >
						<img class ="th radius" src="/ImageGen.ashx?image=@mediaItem.umbracoFile&width=140&height=140&pad=true&constrain=true" width="152" height="152" alt="@mediaItem.Name">
						</a>
			</li>
                
            }
							
						</ul>
            </div>
		}
else{
	<div class="grid-block-1 big-img"><img class="th radius" src="/ImageGen.ashx?image=/images/noimg.jpg&width=700&pad=true&constrain=true&bgcolor=bebebe" alt="">						
</div>	
}

