﻿@inherits umbraco.MacroEngines.DynamicNodeContext
@{ 

    /* This is your basic query to select the nodes you want */

	
   	
    var listOfRefTypes = Model.GetProperty("reftyper").Value.Split(',');

	
	var values = new Dictionary<string,object>();
var keywords = new List<string>();
	
	foreach(var reftype in listOfRefTypes){
		keywords.Add(reftype);
	
	}
	values.Add("keywords",keywords);
	
	var nodes = @Model.NodeById(1081).Reference.Where("reftyper.ContainsAny(keywords)", values).OrderBy("Name desc");
			
	<div class="row ref">
  <div class="large-12 columns">
    <div class="row">
	@if (nodes.Any()) { 	
		foreach (var item in nodes)
    { 
		
	
			<div class="large-4 small-6 columns">
			 <a href="@item.Url">
					@if(item.images.Count() > 0){
					<img src="/ImageGen.ashx?image=@item.images.First().umbracoFile&height=213&width=320&pad=true" alt="">
					}
					else{
					<img src="/ImageGen.ashx?image=/images/noimg.jpg&height=213&width=320&pad=true&bgcolor=cccccc"/>
				}

	     <h6 class="panel">@item.Name</h6>
			  </a>
        </div>
				
			
	}	
	}
		
						
		</div>
	</div>
	</div>
	
}