﻿@inherits umbraco.MacroEngines.DynamicNodeContext


@* Ensure that the Current Page has children, where the property umbracoNaviHide is not True *@
@if (Model.AncestorOrSelf(2).Children.Where("Visible").Where("NodeTypeAlias!=\"Reference\"").Any())
{
      <ul class="button-group left">          
        @* For each child page under the root node, where the property umbracoNaviHide is not True *@
        @foreach (var childPage in Model.AncestorOrSelf(2).Children.Where("Visible").Where("NodeTypeAlias!=\"Reference\""))
        {
			var classes = "";
				if(childPage.Id == Model.Id){
       				 classes = "active";
    			}
			<li class="@classes">
				
        <a href="@childPage.Url" class="small radius button ">@childPage.Name</a>
        </li>
           
        }
    </ul>
}
