﻿@inherits umbraco.MacroEngines.DynamicNodeContext

@*
	Model = The current page the macro is executed on
			@Model.bodyText

	Parameter = collection of parameter values passed from the macro
			@Paramter.myParam

    Library = utillity library with common methods
    		@Library.NodeById(1233)
*@

	@{
		var images = @Model.images;
		
	}

@* The fun starts here *@

@if(images.Count() > 0 ){
var thisclass = "";
		<section class="slider">
  <div class="slide row slideshow-wrapper">
  <div class="preloader"></div>
    <ul data-orbit data-options="slide_number:false;timer:false">
								
								@foreach (var image in images)
            			{
							<li data-orbit-slide="@image.Name">
								<img src="/ImageGen.ashx?image=@image.umbracoFile&width=1000&height=500&pad=true&bgcolor=151412" alt="@image.Name" />
							</li>
                
                   
                 
                
			            }
								
								
							 </ul>
  </div>
</section>
}



     